{% extends 'base.html' %}
{% load static %}

{% block title %}
HomePage HashFlix
{% endblock %}

{% block head %}
<style> {# coloca a fonte preta na barra de Acessar #}
    #id_email{
        width: 100%;
        color: #000000;
        padding: 5px 5px;
    }
</style>
{% endblock %}

{#5px 5 px - É a distância do texto, para n ficar colado com o input#}


{% block 'body' %}
<header class="min-h-screen bg-black bg-opacity-75 bg-blend-overlay showcase border-gray-600 border-b-8 flex justify-center items-center bg-no-repeat bg-cover bg-center" style="background-image: url('{% static 'img/background_netflix.jpg' %}');">
    <div class="z-10 h-full py-32 md:py-0 text-gray-100 text-center flex flex-col items-center">
        <h1 class="font-semibold text-4xl md:text-5xl w-10/12 md:w-3/4">
            Filmes e séries da Hashtag, tudo em um só lugar.
        </h1>
        <h3 class="text-xl md:text-xl py-5">
            Assista onde quiser. Cancele quando quiser.
        </h3>
        <h4 class="text-sm md:text-lg pb-3">
            Quer começar? Coloque seu e-mail abaixo para acessar.
        </h4>
        <div class="w-full flex justify-center">
            <div class="w-full max-w-lg">
                <form method="post" class="flex flex-col items-center">
                    {% csrf_token %}
                    <div class="flex w-full max-w-lg">
                        <input id="id_email" type="email" name="email" placeholder="Digite seu e-mail" 
                        class="flex-grow py-2 px-4 rounded-l-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-red-600" style="max-width: 500px;">
                        <button class="bg-red-600 text-white font-medium py-2 px-4 rounded-r-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-600" 
                        type="submit" style="width: 120px;">
                            <span>Acessar</span>
                            <ion-icon name="chevron-forward-outline" class="text-xl ml-2"></ion-icon>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>

<section class='flex flex-col md:flex-row items-center border-gray-900 border-b-8' style="min-height: 70vh;">
    <div class="md:w-1/2 flex flex-col justify-center text-center md:text-left p-5 md:p-10 ">
        <h2 class="md:text-5xl text-4xl font-semibold mb-4">
            Enjoy on your TV.
        </h2>
        <h5 class="md:text-xl text-lg">
            Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.
        </h5>
    </div>
    <div class='md:w-1/2 flex justify-center items-center'>
        <img src="{% static 'img/tv.png' %}" class="w-8/12" alt="">
    </div>
</section>

<section class='flex flex-col md:flex-row items-center border-gray-900 border-b-8' style="min-height: 70vh;">
    <div class='md:w-1/2 flex justify-center items-center '>
        <img src="{% static 'img/mobile-0819.jpg' %}" class="w-8/12" alt="">
    </div>

    <div class="md:w-1/2 flex flex-col justify-center text-center md:text-left p-5 md:p-10">
        <h2 class="md:text-5xl text-4xl font-semibold mb-4">
            Download your shows to watch offline.
        </h2>
        <h5 class="md:text-xl text-lg">
            Save your favorites easily and always have something to watch.
        </h5>
    </div>
    
</section>

<section class='flex flex-col md:flex-row items-center border-gray-900 border-b-8' style="min-height: 70vh;">
    <div class="md:w-1/2 flex flex-col justify-center text-center md:text-left p-5 md:p-10">
        <h2 class="md:text-5xl text-4xl font-semibold mb-4">
            Create profiles for kids.
        </h2>
        <h5 class="md:text-xl text-lg">
            Send kids on adventures with their favorite characters in a space made just for them—free with your membership.
        </h5>
    </div>
    <div class='md:w-1/2 flex justify-center items-center'>
        <img src="{% static 'img/netflix_kid.png' %}" class="w-8/12" alt="">
    </div>
</section>
<footer class=" px-5 py-10 ">
    <ul class="flex justify-between items-center">
        
        <li>&copy; 2023</li>
        <li>Feito com Python (Django)</li>
        <li>Hashtag</li>
    </ul>
</footer>


{% endblock %}

